@model IEnumerable<NewBookish.Models.Entities.Book>

@{
    ViewBag.Title = "Catalogue";
}

<link href="../Content/StyleSheet.css" rel="stylesheet" />
<h2>Search Book</h2>

<form asp-controller="Home" asp-action="Catalogue">
    <p>
        <label>Search By Title: <input type="text" name="SearchTitle" /></label>
        <label>Search By Author: <input type="text" name="SearchAuthor" /></label>
        <input type="submit" value="Filter" />
        <input type="submit" value="Clear Filter" />
    </p>
</form>

@if (Model != null && Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>No. of Copies</th>
                <th>Available Copies</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.NoOfCopies</td>
                    <td>@book.AvailableCopies</td>
                </tr>
            }
        </tbody>
    </table> 
}
else{
    <p>No books available.</p>
}